.card {
  background-color: lightgrey;
  padding: 10px 10px 0 10px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.year_name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  padding-left: 10px;
  padding-top: 10px;
}
