.page{
  flex-direction: "column";
  display: "flex";
  align-items: "center";
}  

.title{
  display: flex;
  justify-content: center;
}

.subtitle{
  padding: 0 0 0 20px;
}

.calendar{
  margin: 0px 20px;
}