.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0 1rem;
  height: 3rem;
  padding-left: 10%;
  padding-right: 10%;
  gap: 1rem;
}

.selected {
  text-decoration: underline;
}
