@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .page-title {
    @apply font-bold text-5xl pb-8;
  }

  .section-title {
    @apply font-bold text-4xl pb-8
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
