.box{
  display: flex;
  flex-direction: row;
}

.box_reverse{
  display: flex;
  flex-direction: row-reverse;
}

.half_box{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  max-height: 40vh;
  width: 50vw;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title{
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px;
}

.liveEventsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}